### IntelliJ IDEA ###
.idea/
*.iml

# Dependencies
/node_modules
/package-lock.json
/yarn.lock

# Build artifacts
/build
/dist
/out
.next/ # For Next.js projects

# Logs and debug files
npm-debug.log*
yarn-debug.log*
*.log

# Environment variables and secrets
#.env
#.env.local
#.env.development.local
#.env.test.local
#.env.production.local
