.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.menuLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: var(--primary);
    color: var(--text-over-primary);
    transition: all 0.5s ease-in-out;
    padding: 0.8rem;
    border-radius: 0.8rem;
}

.menuLink:hover {
    filter: brightness(80%);
}

.menuLink svg {
    width: 1.4rem;
    height: 1.4rem;
}
