.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    /*padding-top: 0.rem;*/
}

.logoLink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column;
    font-weight: bold;
    font-size: 2.2rem;
    text-decoration: none;
    color: var(--primary);
    transition: all 0.5s ease-in-out;
}

.logoLink:hover {
    filter: brightness(80%);
}

.logoLink svg {
    width: 3.4rem;
    height: 3.4rem;
}

.logoTitle {
    font-size: var(--text-size-title);
}
